body {
    padding-top: 50px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    background-color: #eeeeee;
    box-shadow:none;
}
.gray{
    color:#999;
}
.navbar-inner{
    background-color:white;
    background-image:none;
    border: 1px solid #ddd;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
    box-shadow: none;
}
#title{
    margin-top:-5px;
}
@media (max-width: 767px) {
    #title{
        margin-top:-20px;
    }
}
